REACT_APP_API_URL=http://localhost:5001/api
REACT_APP_TMDB_API_KEY=2b9653794598f8e20159cf6d64827b84
REACT_APP_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYjk2NTM3OTQ1OThmOGUyMDE1OWNmNmQ2NDgyN2I4NCIsIm5iZiI6MTc3NzM1MDk4NC43NzEwMDAxLCJzdWIiOiI2OWYwMzk0OGZjM2U2ZjE1ZTRkNzdkZjIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.OB0bWFNxLA6lEs4VWUqnEpVFN-Hr604N45tbZ7Q7Zww
WATCHPACK_POLLING=true
WATCHPACK_POLLING_INTERVAL=1000
